:root {
  --black: #363636;
  --white: #ffffff;
  --accent: #B03F00;
  --header: 70px;
  --footer:70px;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html {
  font-family: 'DM Sans', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'DM Sans', sans-serif;
  }
}

body {
  font-weight: 600;
  background-color: var(--white);
  margin-bottom: var(--footer);
}

p{
  font-weight: 400;
}

.left{
  top:var(--header);
  position:fixed;
  overflow-y:hidden;
}

.right{
  top:var(--header);
  overflow-y:scroll;
  float: right;
}

.header{
  height: 70px;
  width: 100%;
  padding: 1em 0 1em 0;
  background-color: var(--white);
  z-index:99999;
  position:fixed;
}


a, p, h1, h2, h3, h4, h5{
  color: var(--black);
}

h3{
  position: sticky;
}

a {
  text-decoration: none;
  
}

h3 a {
  color: var(--black);
  transition: 1s ease;
}

h4:hover a {
  color: var(--black);
  padding-left: 10px;
}

.footer{
  height: var(--footer);
  width: 100%;
  background-color: var(--white);
  z-index:99999;
  bottom:0;
  font-weight: 500;
}

.footerRight{
  height: var(--footer);
  width: 100%;
  background-color: var(--black);
  z-index:99999;
  bottom:0;
  font-weight: 500;
  float: right;
}


ul {
  list-style-type: square;
  list-style-position: outside;
  font-weight: 600;
}

.thumbnail {
  border: none;
  margin-top: 1em;
}


@media only screen and (max-width: 1024px) {
  .left{
position: relative;
float: inline-start;
  }
  
  .right{
position: relative;
  }
}